div.main-menu {
    margin-top: 1px;
}

div.bordered {
    border: 1px solid #696969;
}

div.footer {
    margin-top: 10px;
    margin-bottom: 2px;
}

.blue-caption {
    color: #007DFF !important;
}

.green-caption {
    color: #03C03C !important;
}

.white-caption {
    color: white;
}

.white-hover:hover {
    color: white;
}

.green-hover:hover {
    color: #7CFC00;
}

.slim {
    font-weight: normal !important;
}

.margin-right {
    margin-right: 10px;
}

.sticker {
    background-color: #03C03C !important;;
    float: left;
    position: absolute;
    margin-left: 5px;
    margin-top: 99px;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    text-transform: uppercase;
    font-size: 10px !important;
    line-height: 11px !important;
}

.sticker:after {
    content: "";
    display: block;
    position: absolute;
    border-top: 8px solid transparent;
    border-left: 4px solid #03C03C;
    border-bottom: 8px solid transparent;
    right: -4px;
    top: 0;//-1px;
}

.sticker-big {
    font-size: 12px !important;
    margin-top: 174px;
    line-height: 15px !important;
}

.sticker-big:after {
    border-top: 10px solid transparent;
    border-left: 8px solid #03C03C;
    border-bottom: 10px solid transparent;
    right: -8px;
}

.preview {
    margin-bottom: 20px;
    font-size: 13px;
}

.preview .title{
    font-size: 14px;
}

.content {
    color: #444444;
}

.content h1 {
    font-size: 24px !important;
}

.content h2 {
    font-size: 22px !important;
}

.content h3 {
    font-size: 20px !important;
}

.content h4 {
    font-size: 18px !important;
}

.content h5 {
    font-size: 16px !important;
}

.widget-title {
    margin-bottom: 5px !important;
}

i.active_circle, i.inactive_circle {
    width: 8px;
    height: 8px;
    background: green;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
}

i.inactive_circle {
    background: red;
}

i.grey_circle {
    background: #808080;
}

a.logo-nav {
    padding-left: 55px !important;
}
a.logo-nav img {
    position: absolute;
    top: 5px;
    left: 7px;
}

.sidebar-menu {
    border: 1px solid #dcdcdc;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .1);
    border-radius: 2px;
    margin-bottom: 20px !important;
}

/** YII */

.grid-view .filters select, .grid-view .filters input {
    padding: 4px 0 !important;
    margin-bottom: 0;
}
.grid-view table.items {
    border: 1px solid #d4d4d4;
    background: #ffffff !important;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
.grid-view table.items th {
    color: #444444 !important;
    background: #e5e5e5 !important;
    text-transform: uppercase;
    height: 30px;
}
.grid-view table.items th, .grid-view table.items td {
    border: 1px #d4d4d4 solid !important;
}
.grid-view table.items td.button-column {
    padding-bottom: 10px;
}

.grid-view table.items td.empty {
    padding: 10px 5px;
}

.form-horizontal .row {
    margin: 10px 0 !important;
    clear: left;
}

.form-horizontal .row label {
    float: left;
    margin-right: 10px;
    margin-top: 7px;
    position: relative;
    text-align: right;
    font-weight: normal;
    width: 190px;
}

.form-horizontal .row select {
    width: 300px;
}

.form-horizontal .row input[type=text], .form-horizontal .row input[type=file] {
    width: 300px;
}

.form-horizontal .row textarea {
	width: 300px;
	height: 100px;
}

.form-horizontal .row input[type=file] {
    display: inline-block;
}

.form-horizontal .btn-large {
    margin-left: 199px;
}

span.required {
    color: red;
}
.form-horizontal div.widgetRow {
    margin: 2px 0 !important;
    padding: 2px;
    border: 1px solid #d4d4d4 !important;
    float: right;
    width: 900px;
}
.widgetRow input[type=text], .widgetRow select {
    width: 200px !important;
}

.widgetRow input.sort {
    width: 40px !important;
    margin-right: 4px;
}

.all-caps {
    text-transform: uppercase;
}

div.form div.radio, div.form div.checkbox {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    min-height: inherit;
}

div.form div.radio span {
    display: inline-block;
    text-align: left;
    padding: 0;
}

div.form div.checkbox input[type=checkbox], div.form div.radio span input[type=radio] {
    width: auto;
    height: auto;
    float: none;
    display: inline;
    position: relative;
    margin-left: 0;
}

div.form div.checkbox label, div.form div.file label {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

div.form div.radio span label {
    float: none;
    text-align: left;
    display: inline;
    cursor: pointer;
    padding-left: 0;
    margin-top: 0;
}

p.article_tags {
    margin-top: 15px;
}

.delete-img {
	position: absolute;
	line-height: 20px;
	color: grey;
	left: 239px;
	top: -10px;
	display: none;
}

.modify-img {
	position: absolute;
	line-height: 20px;
	color: grey;
	left: 17px;
	top: -10px;
	display: none;
}

.image-item:hover .delete-img, .image-item:hover .modify-img {
	display: inline;
}

.form-horizontal label {
	font-weight: normal;
}

.error-box {
	color: red;
}